option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY_ID: "AKIAYNKSDCQLN47MIF2S"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_STORAGE_BUCKET_NAME: "sarcophagus-repo-media"
    AWS_S3_REGION_NAME: "us-west-2"
    DATABASE_URL: "postgres://u29fqucarl5frg:pbf94400ec1d92ffda37fb9beea36a213396ac4b41e281901a019718ee74a32ad@ccpa7stkruda3o.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com:5432/de855v2bni0867"
    DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com, sarcophagus.net, 127.0.0.1"

