{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'latest_news.html' %}
<section class="tournament-section spad">
    <div class="container">
        <h2>{{ tournament.name }}</h2>
        <br><br>
        <p><strong>Game:</strong> {{ tournament.game.game }}</p>
        <p><strong>Description:</strong> {{ tournament.description }}</p>
        <p><strong>Start Date:</strong> {{ tournament.start_date|date:"d/m/Y H:i" }}</p>
        <p><strong>End Date:</strong> {{ tournament.end_date|date:"d/m/Y H:i" }}</p>
        <p><strong>Created by:</strong> {{ tournament.created_by.membro }}</p>
        <p><strong>Participants:</strong> {{ tournament.participants.count }}/{{ tournament.max_participants }}</p>
        <br><br>
        <h3>Participants:</h3>
        <br>
        <ul>
            {% for participant in tournament.participants.all %}
                <li>{{ participant.first_name }} {{ participant.last_name }}</li>
            {% endfor %}
        </ul>

        {% if user.is_authenticated %}
            {% if user in tournament.participants.all %}
                <br>
                <p>You are already participating in this tournament.</p>
            {% elif tournament.participants.count < tournament.max_participants %}
                <form action="{% url 'join_tournament' tournament.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="site-btn">Participar</button>
                </form>
            {% else %}
                <p>The maximum number of participants has been reached.</p>
            {% endif %}
        {% else %}
            <p><a href="{% url 'login' %}">Faça login</a> para participar.</p>
        {% endif %}
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}
