{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
{% include 'latest_news.html' %}
<div class="page-spacing">
    <div class="background-image-login">
        <img src="{% static 'img/login-bg.jpg' %}" alt="Login Background" class="login-bg">

        <div class="login-container">
            <h5>Login</h5>
            <br>
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="custom-button">Login com Email</button>
            </form>
            <a href="{% provider_login_url 'google' %}" class="google-login-button">
                <img src="{% static 'img/google-icon.png' %}" alt="" class="google-icon">
                Login com Google
            </a>
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
