{% extends 'index/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  	<!-- Hero section -->
		<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="{% static 'img/slider-1.jpg' %}">
				<div class="hs-text">
					<div class="container">
						<h2>404<br>{% trans 'Página não econtrada' %}</h2>
						<p>{% trans 'Infelizmente a página que você procura não está disponível.' %}</p>
						<a href="#" class="site-btn">{% trasn 'Read More' %}</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->
{% endblock %}



