{% load static %}
<section class="footer-top-section">
    <div class="container">
        <img src="{% static 'img/pattern1.png' %}" alt="">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-logo text-white">
                    <img src="{% static 'img/footer-logo1.png' %}" alt="">
                    <p>Welcome to Sarcophagus! Immerse yourself in a world of nostalgia and relive the thrills of era-defining PC games. Here, you’ll find a vast collection of forgotten classics from the late 80s, 90s, and mid-2000s, ready to be replayed. Unearth forgotten gems, explore legendary genres, and rediscover the magic of early PC gaming.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget mb-5 mb-md-0" style="margin-bottom: 20px;">
                    <h4 class="fw-title">Latest Posts</h4>
                    <div class="latest-blog">
                        {% for post in latest_posts %}
                        <div class="lb-item" style="display: flex; align-items: flex-start; gap: 15px; padding: 10px; background-color: #333; border-radius: 8px; overflow: hidden; width: 100%;">
                            <a href="{% url 'blog_post_detail' post.pk %}" class="lb-thumb" style="min-width: 120px; height: 120px; background-image: url({{ post.imagem.url }}); background-size: cover; background-position: center; border-radius: 8px; flex-shrink: 0;"></a>
                            <div class="lb-content" style="flex-grow: 1; color: #aeaeae; display: flex; flex-direction: column; justify-content: space-between; padding-left: 10px;">
                                <div class="lb-date" style="font-size: 12px; margin-bottom: 8px; color: #B8860B;">{{ post.publicado_em|date:"F d, Y" }}</div>
                                <a href="{% url 'blog_post_detail' post.pk %}" style="color: #aeaeae; font-size: 14px; margin: 0; line-height: 1.6; text-decoration: none;">
                                    {{ post.titulo|truncatewords:10 }}
                                </a>
                                <a href="{% url 'blog_post_detail' post.pk %}" class="lb-author" style="font-size: 12px; color: #aeaeae; margin-top: auto;">By {{ post.autor }}</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget" style="padding-bottom: 20px;">
                    <h4 class="fw-title">Latest Comments</h4>
                    <ul style="margin-bottom: 0;">
                        {% for comment in latest_comments %}
                        <li>
                            <div class="top-comment" style="display: flex; align-items: top; gap: 10px; padding: 15px; background-color: #333; border-radius: 8px; margin-bottom: 20px;">
                                <!-- Adicionando link ao redor do avatar do membro -->
                                <a href="{% url 'membro-details' comment.membro.id %}" style="flex: 0 0 auto;">
                                    <img src="{{ comment.membro.imagem.thumb.url }}" alt="{{ comment.membro }}" style="width: 64px; height: 64px; border-radius: 50%; object-fit: cover;">
                                </a>
                                <div class="tc-content" style="flex: 1; color: #aeaeae;">
                                    <!-- Adicionando link ao redor do nome do membro -->
                                    <p style="margin: 0;">
                                        <a href="{% url 'membro-details' comment.membro.id %}">{{ comment.membro }}</a>
                                        <span>on</span>
                                        <a href="{% url 'blog_post_detail' comment.post.pk %}">{{ comment.post.titulo|truncatewords:5 }}</a>
                                    </p>
                                    <p style="font-size: 14px; margin: 0; line-height: 1.2;">{{ comment.comentario|truncatewords:15 }}</p>
                                    <div class="tc-date" style="font-size: 12px; color: #B8860B; margin-top: 5px;">{{ comment.publicado_em|date:"F d, Y" }}</div>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <li><p>No comments yet.</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer bottom section -->
<footer class="footer-section">
    <div class="container">
        <ul class="footer-menu">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'reviews' %}">Reviews</a></li>
            <li><a href="{% url 'download' %}">Games</a></li>
            <li><a href="{% url 'community' %}">Community</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <p class="copyright">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Sarcophagus
        </p>
    </div>
</footer>
