{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'latest_news.html' %}
<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/4.jpg' %}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>{{ membro.membro }}</h2>
                    <p>{{ membro.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Member Profile Section -->
<section class="page-section community-page">
    <div class="container">
        <br>
        <div class="member-details">
            <h4>{{ membro.first_name }} {{ membro.last_name }}</h4>
            <br>
            <img src="{{ membro.imagem.url }}" alt="{{ membro.membro }}" style="width: 150px; border-radius: 10px;">
            <div>
                <p><strong>Email:</strong> {{ membro.email }}</p>
                <p><strong>Idade:</strong> {{ membro.idade }} anos</p>
                <p><strong>Gênero:</strong> {{ membro.get_genero_display }}</p>
                <p><strong>Bio:</strong> {{ membro.bio }}</p>
            </div>
        </div>
        <br>

        <!-- Seção de jogos favoritos -->
        {% if jogos_favoritos %}
        <div class="favorite-games">
            <h5 style="font-size: 28px; font-weight: bold; color: #ffb320;">Favorite Games</h5>
            <br>
            <ul class="favorite-games-list">
                {% for favorito in jogos_favoritos %}
                <li class="game-card">
                    <a href="{% url 'game-details' favorito.game.id %}" class="game-link">
                        <div class="game-thumb">
                            <img src="{{ favorito.game.imagem.url }}" alt="{{ favorito.game.game }}">
                        </div>
                        <div class="game-info">
                            <h5>{{ favorito.game.game }}</h5>
                            <p><strong>Genre(s):</strong> {{ favorito.game.generos.all|join:", " }}</p>
                            <p><strong>Developer:</strong> {{ favorito.game.desenvolvedor }}</p>
                            <p><strong>Year:</strong> {{ favorito.game.ano }}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div style="padding-bottom: 30px;"></div>
</section>
{% include 'footer.html' %}
{% endblock %}
