{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'latest_news.html' %}
<section class="page-info-section set-bg" data-setbg="{% static 'img/page-top-bg/4.jpg' %}">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>{{ membro.membro }}</h2>
                    <p>{{ membro.bio }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section community-page">
    <div class="container">
        <br>
        <div class="member-details">
            <h4>{{ membro.first_name }} {{ membro.last_name }}</h4>
            <br>
            <img src="{{ membro.imagem.url }}" alt="{{ membro.membro }}" style="width: 150px; border-radius: 10px;">
            <div>
                <p><strong>Email:</strong> {{ membro.email }}</p>
                <p><strong>Idade:</strong> {{ membro.idade }} anos</p>
                <p><strong>Gênero:</strong> {{ membro.get_genero_display }}</p>
                <p><strong>Bio:</strong> {{ membro.bio }}</p>
            </div>
        </div>
        <br>
        <!-- Seção de jogos favoritos -->
        {% if jogos_favoritos %}
        <div class="favorite-games">
            <h5 style="color: #A8A8A8"><strong>Favorite Games</strong></h5>
            <br>
            <ul style="display: flex; flex-wrap: wrap; gap: 20px; justify-content: flex-start; list-style: none; padding-left: 0;">
                {% for favorito in jogos_favoritos %}
                <li style="flex: 0 0 150px; text-align: center;">
                    <a href="{% url 'game-details' favorito.game.id %}" style="text-decoration: none;">
                        <div>
                            <img src="{{ favorito.game.imagem.url }}" alt="{{ favorito.game.game }}" style="border-radius: 10px; width: 150px;">
                            <h6 style="color: #A8A8A8; margin-top: 5px;"><strong>{{ favorito.game.game }}</strong></h6>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div style="padding-bottom: 30px;"></div>
</section>

{% include 'footer.html' %}
{% endblock %}
