{% load static %}
<section class="page-section recent-game-page spad">
    <div class="container">
        <div class="row">
            <se class="col-lg-12">

                <!-- Formulário de busca -->
                <h4 style="text-align: center;">Find Your Game!</h4>
                <br><br><br>
                <form class="search-widget" method="get" action="{% url 'download' %}">
                    <input type="text" name="game" placeholder="Game Name">
                    <input type="text" name="descricao" placeholder="Description">
                    <input type="text" name="genero" placeholder="Genre">
                    <input type="number" name="ano" placeholder="Year">
                    <input type="text" name="desenvolvedor" placeholder="Developer">
                    <input type="text" name="distribuidor" placeholder="Publisher">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                <br><br>
                <!-- Resultados da busca -->
                <div class="recent-game-row">
    {% if games %}
        {% for game in games %}
        <div class="recent-game-item">
            <div class="rgi-thumb set-bg" data-setbg="{{ game.imagem.thumb.url }}">
                <div class="cata">{{ game.genero }}</div>
            </div>
            <div class="rgi-content">
                <h5>{{ game.game }}</h5>
                <p>{{ game.ano }}</p>
                <p>Genre: {{ game.genero }}</p>
                <p>Rating: {{ game.rating }}</p>
                <p>Developer: {{ game.desenvolvedor }}</p>
                <p>Publisher: {{ game.distribuidor }}  </p>
                <p>Review:</p>
                <p>{{ game.descricao }}</p>
                <div class="rgi-extra">
                    <div class="rgi-star">
                        <img src="{% static 'img/icons/star.png' %}" alt="Star Icon">
                    </div>
                    <div class="rgi-heart">
                        <img src="{% static 'img/icons/heart.png' %}" alt="Heart Icon">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p style="text-align: center;">No results found.</p>
        <br><br>
    {% endif %}
    </div>
</section>