{% load static %}
<section class="page-section single-blog-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-thumb set-bg" data-setbg="{% static 'img/recent-game/big.jpg' %}">
						<div class="cata new">new</div>
						<div class="rgi-extra">
							<div class="rgi-star"><img src="{% static 'img/icons/star.png' %}" alt=""></div>
							<div class="rgi-heart"><img src="{% static 'img/icons/heart.png' %}" alt=""></div>
						</div>
					</div>
					<div class="blog-content">
						<h3>Shadow Warrior - The Last Samurai</h3>
						<a href="" class="meta-comment">3 comment</a>
						<p>Shadow Warrior, a first-person shooter originally released in 1997 for PC, has been ported to other systems in several ways. Recently, a free version of the game, called Shadow Warrior Classic, was released on Steam. This version contains the same gameplay as before, with slight changes to the controls but no changes to the visuals. Check out our review of this classic game.</p>
					</div>
					<div class="comment-form-warp">
						<h4 class="comment-title">Leave Your Comment</h4>
						<form class="comment-form" method="post" action="{% url 'blog' %}">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Name">
								</div>
								<div class="col-md-6">
									<input type="email" placeholder="Email">
								</div>
								<div class="col-lg-12">
									<input type="text" placeholder="Subject">
									<textarea placeholder="Message"></textarea>
									<button class="site-btn btn-sm">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- sidebar -->
				<div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
					<!-- widget -->
					<div class="widget-item">
						<form action="{% url 'game_details' %}" method="get" class="search-widget">
							<input type="text" name="q" value="{{ query }}" placeholder="Search games">
							<button type="submit"><i class="fa fa-search"></i></button>
						</form>
					</div>
					{% if games %}
						<h2>Search Results</h2>
							{% for g in games %}
								<a href="{% url 'game_details' g.game %}">
									<img src="{{ g.imagem.url }}" alt="">
									<h3>{{ g.game }}</h3>
									<p>{{ g.descricao|truncatechars:50 }}</p>
								</a>
							{% endfor %}
					{% else %}
						<p>No games found for your search.</p>
					{% endif %}
					<!-- widget -->
					<div class="widget-item">
						<h4 class="widget-title">Latest Posts</h4>
						<div class="latest-blog">
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{% static 'img/latest-blog/1.jpg' %}"></div>
								<div class="lb-content">
									<div class="lb-date">June 21, 2018</div>
									<p>Ipsum dolor sit amet, consectetur adipisc ing consecips</p>
									<a href="#" class="lb-author">By Admin</a>
								</div>
							</div>
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{% static 'img/latest-blog/2.jpg' %}"></div>
								<div class="lb-content">
									<div class="lb-date">June 21, 2018</div>
									<p>Ipsum dolor sit amet, consectetur adipisc ing consecips</p>
									<a href="#" class="lb-author">By Admin</a>
								</div>
							</div>
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{% static 'img/latest-blog/3.jpg' %}"></div>
								<div class="lb-content">
									<div class="lb-date">June 21, 2018</div>
									<p>Ipsum dolor sit amet, consectetur adipisc ing consecips</p>
									<a href="#" class="lb-author">By Admin</a>
								</div>
							</div>
						</div>
					</div>
					<!-- widget -->
					{% block content %}
					{% include 'top_comments.html' %}
					{% endblock %}
					<!-- widget -->
					<div class="widget-item">
						<div class="feature-item set-bg" data-setbg="{% static 'img/features/1.jpg' %}">
							<span class="cata new">new</span>
							<div class="fi-content text-white">
								<h5><a href="#">Suspendisse ut justo tem por, rutrum</a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
								<a href="#" class="fi-comment">3 Comments</a>
							</div>
						</div>
					</div>
					<!-- widget -->
					<div class="widget-item">
						<div class="review-item">
							<div class="review-cover set-bg" data-setbg="{% static 'img/games/1.jpg' %}">
								<div class="score yellow">9.3</div>
							</div>
							<div class="review-text">
								<h5>Prince of Persia</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
