{% extends 'base.html' %}
{% load static %}
{% load recent_reviews_tags %}
{% block content %}
	<!-- Header section end -->


	<!-- Latest news section -->
		{% include 'latest_news.html' %}
	<!-- Latest news section end -->


	<!-- Hero section -->
		{% include 'index/hero.html' %}
	<!-- Hero section end -->


	<!-- Feature section -->
		{% include 'index/feature.html' %}
	<!-- Feature section end -->


	<!-- Tournaments section -->
		{% include 'index/tournaments.html' %}
	<!-- Tournaments section bg -->

	<!-- Review section -->
		{% show_recent_reviews %}
	<!-- Review section end -->

	<!-- Footer top section -->
		{% include 'footer.html' %}
	<!-- Footer section end -->
	{% endblock %}
